body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    width: 500px;
    height: 500px;
    border: 2px solid red;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row {
    border: 1px solid black;
    flex: 1;
}

.row:hover {
    background-color: black;
}